.table{
    padding:20px;
    text-align: center;
    background-color: lightgrey;
    margin:50px;
    width:40vw;
    height:40vh;
}
th{
    padding:50px;
}

@media only screen and (min-width: 3000px) {
    /* For 4k: */
    .table{
        font-size: 30px;
    }
  }