$nav-grey: #26282b;
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $nav-grey;
    color: white;
    font-weight: 600;
  }
  .dropdown-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .country-details{
    display: flex;
    justify-content: center;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    margin-top: 82px;
    padding: 0 16px;
  }